* {
  margin: 0;
  padding: 0;
}

/* ---------Same Styles--------- */
body {
  font-family: Inter;
}

.btn {
  background-color: #30b868;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid #30b868;
  border-radius: 4px;
  height: 44px;
  cursor: pointer;
}

/* ------------Navbar----------- */
header #navbar {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

#navbar .logo {
  margin: 16px 0 16px 120px;
}


#navbar .menu {
  margin: 34px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}

#navbar .menu ul li {
  list-style: none;
  display: inline;
  margin-right: 32px;
}

#navbar .menu ul li a {
  text-decoration: none;
  color: #000000;
}

.erly-access-btn {
  margin: 24px 120px 24px 0;
}


/* ---------Banner Section---------- */
#banner-section .hero-area {
  background-image: url("./assets/hero-bg.png");
  height: 674px;
}

.earrly-access-btn{
  padding: 115px 585.5px 0 585.5px;
}

.early-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px 12px 12px;
  border-radius: 999px;
  border: none;
  background: white;
  font-size: 16px;
  font-weight: 600;
  color: #2f8f5b;
  cursor: pointer;
  margin-left: 120px;
}

.icon {
  width: 28px;
  height: 28px;
  background: #dff3e9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon .dot {
  width: 10px;
  height: 10px;
  background: #2f8f5b;
  border-radius: 50%;
}


#banner-section .htd-area h1 {
  margin: 16px 0;
  text-transform: capitalize;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: #ffffff;
  text-align: center;
}

#banner-section .htd-area h1 span {
  color: #30b868;
}

#banner-section .htd-area p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

#banner-section .btn-area {
  margin: 32px 567.5px 0 567.5px;
  display: flex;
  gap: 16px;
}

#banner-section .btn-area .btn-1 {
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 44px;
  cursor: pointer;
}

/* -------------Note Section---------------- */
#note-section .title-des {
  /* width: 100%; */
  height: 153px;
  text-align: center;
  /* background-color: aqua; */
}

#note-section .title-des h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-top: 50px;
}

#note-section .title-des p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #627382;
  padding-top: 14px;
}

#note-section .card-box {
  display: flex;
  gap: 24px;
  padding: 0 120px;
}

#note-section .card-box .card {
  text-align: center;
  padding: 69.5px 24px;
}

#note-section .card-box .card i {
  background-color: #f95555;
  color: white;
  padding: 16px 13px;
  font-size: 32px;
  border-radius: 100px;
}

#note-section .card-box .card h4 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}

#note-section .card-box .card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}

/* ------------Brain Section-------------- */
#brain-section {
  padding: 120px;
}

#brain-section .brain-box {
  display: flex;
  gap: 60px;
}

#brain-section .brain-box .right-section {
 padding: 101.5px 0 101.5px 0px; 
}

#brain-section .brain-box .right-section h5 {
  font-size: 20px;
  line-height: 20px;
  color: #30b868;
  margin-bottom: 16px;
}

#brain-section .brain-box .right-section h1 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

#brain-section .brain-box .right-section p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

#brain-section .brain-box .right-section ul li{
  list-style: none;
  font-size: 16px;
  font-weight: 600px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

#brain-section .brain-box .right-section ul li i {
  color: #30b868;
  font-size: 18px;
}

/* -----------Early Access Section------------ */
#early-access-section .early-access {
  padding: 2px 120px 120px 120px;
  text-align: center;
}

.early-access .message-section h1 {
  margin-top: 80px;
  font-size: 40px;
}

.early-access .message-section p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
}

.early-access .early-btn-section {
  margin-top: 24px;
}

.early-access .early-btn-section p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-top: 16px;
}